<% include ./partials/head %>

    <h1>Realtime Chat</h1>

    <form action="/" method="post" id="formulaire_chat">
        <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
        <input type="submit" id="envoi_message" value="Envoyer" />
    </form>

    <section id="zone_chat">
    </section>
    

<% include ./partials/footer %>